<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="Cartella" value="C:\file_log\file_log_3030" />
    <add key="Filedaomettere" value="ICP,ICC,FCC" />
  <add key="PercorsoHelp" value="C:\HelpGsm\HelpTwinSee.docx" />
  </appSettings>
</configuration>